(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

# Merge, Join, and Pivot

## Revisit our familiar DataFrame

In [8]:
symbols = ['AAPL', 'MSFT', 'IBM', 'YHOO']
df = pd.DataFrame({
    'ticker': symbols,
    'date': ['2015-12-31'] * len(symbols),
    'open': [426.23, 42.3, 101.65, 35.53]
})
df

  ticker        date    open
0   AAPL  2015-12-31  426.23
1   MSFT  2015-12-31   42.30
2    IBM  2015-12-31  101.65
3   YHOO  2015-12-31   35.53

## Merge Join

In [15]:
close_prc = df['open'] + np.random.randn(df.shape[0])
df2 = pd.DataFrame({
    'ticker': symbols + ['MANT'],
    'close': np.append(close_prc.values, [77.2])
})
df2

  ticker       close
0   AAPL  425.810959
1   MSFT   42.426150
2    IBM  101.199223
3   YHOO   36.352887
4   MANT   77.200000

In [18]:
pd.merge(df, df2, on='ticker')

  ticker        date    open       close
0   AAPL  2015-12-31  426.23  425.810959
1   MSFT  2015-12-31   42.30   42.426150
2    IBM  2015-12-31  101.65  101.199223
3   YHOO  2015-12-31   35.53   36.352887

In [19]:
pd.merge(df, df2, on='ticker', how='right')

  ticker        date    open       close
0   AAPL  2015-12-31  426.23  425.810959
1   MSFT  2015-12-31   42.30   42.426150
2    IBM  2015-12-31  101.65  101.199223
3   YHOO  2015-12-31   35.53   36.352887
4   MANT         NaN     NaN   77.200000

## Merge Join

In [ ]:
df_close = pd.DataFrame(s1)
df_close.index.name = 'ticker'
df_close.reset_index(inplace=True)

In [ ]:
pd.merge(df, df_close, left_index=True, right_on='ticker')

## Pivot

In [ ]:
df

In [ ]:
df['close'] = np.random.randn(4)
df1 = df.reset_index().set_index(['ticker', 'date'])
df1

In [ ]:
df_long = df1.stack().reset_index().rename(columns={'level_2': 'variable', 0: 'value'})
df_long

In [ ]:
res = []
for _, df, in df_long.groupby('ticker'):
    tmp = df[df.value == df.value.max()]
    res.append(tmp)
pd.concat(res, ignore_index=True)

In [ ]:
def keep_max(df):
    return df[df.value == df.value.max()]
df_long.groupby('ticker').apply(keep_max)

In [ ]:
df_long.drop_duplicates('ticker', keep='first')